

<ion-content class="ion-padding ion-text-center">
  <!-- <ion-toolbar>
    <ion-menu-button contentId="main" slot="start"><ion-icon src="../../../assets/icon/menucircle.svg"></ion-icon></ion-menu-button>      
</ion-toolbar> -->
  <div class="logo">  
  <img  *ngIf="logincode == '010'" src="../../../assets/images/upsi-logo.png"/>
  <img  *ngIf="logincode == '011'" src="../../../assets/images/kuis-logo.png"/>
  <img  *ngIf="logincode == '020'" src="../../../assets/images/sc_logo.png"/>
  <img  *ngIf="logincode == '023'" src="../../../assets/images/mbsa-logo.png"/>
  <img  *ngIf="logincode == '025'" src="../../../assets/images/upsi-logo.png"/>
</div>
  <!-- <div class="form">
    <ion-item>
      <ion-input placeholder='Enter Email'></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder='Password' types='password'></ion-input>
    </ion-item>
    <ion-button colors='dark' expands='block' (click)="login()">Login</ion-button>
  </div> -->
  <div class="form-container">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input autocomplete="off" type="text" name="username" [(ngModel)]="postData.username"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input autocomplete="off" type="password" name="password" [(ngModel)]="postData.password"></ion-input>
      </ion-item>
     
    </ion-list>
    <div class="button-container">
      <ion-button expand="block" (click)="loginAction()" class="main-button">Login<span>&#10230;</span></ion-button>
    </div>
  </div>
  
  <a [routerLink]="['/login-auth']" class="small-text"> Logout from Organisation</a>
</ion-content>


 


 